<!--
  Generated template for the Accounts page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-card>
  <ion-card-header>
    Accounts
  </ion-card-header>
 
  <ion-list *ngFor=" let account of accounts">

    <button ion-item (click)="getAccountDetails(account.account_No)">
      <ion-icon name="share-alt" item-left></ion-icon>
      Account No: {{account?.account_No}}
    </button>

  </ion-list>
</ion-card>

<div *ngIf="_thisAccount">
  <ion-item-group>
    <ion-item-divider color="light">Your Account Details</ion-item-divider>
    <ion-item>Account_No: {{_thisAccount.account_No}}</ion-item>
    <ion-item>Account Status: {{_thisAccount.account_Status}}</ion-item>
    <ion-item>Balance: {{_thisAccount.balance}}</ion-item>
    <ion-item>Installment: {{_thisAccount.installment}}</ion-item>
    <!--<ion-item>Next Installment: {{_thisAccount?.next_Installment_Date | date: 'yyyy-MM-dd'}}</ion-item>-->
    <ion-item>Product Description: {{_thisAccount.product_Description}}</ion-item>
    <ion-item>Company Bank Account: {{_thisAccount.company_Bank_Account}}</ion-item>
    <ion-item>Company Name: {{_thisAccount.companyName}}</ion-item>
    <ion-item>Balance: {{_thisAccount.balance}}</ion-item>                          
  </ion-item-group>        
</div>

</ion-content>


<!-- All acounts response example
  [
  {
    "object_Id": 14177,
    "account_No": 34118,
    "account_Status": "Complete",
    "balance": "0.00",
    "installment": "67.20",
    "next_Installment_Date": "N/A",
    "product_Description": "SACC Product Import",
    "rate": "N/A",
    "pay_Day": 0,
    "company_Bank_Account": "36-955-5823",
    "companyName": "Fundco Pty Ltd [Direct Payments]",
    "pay_Frequency_Id": 0
  }
]-->

<!-- Specific account response example
  { 
  "object_Id": 14177,
  "account_No": 34118,
  "account_Status": "Complete",
  "balance": "0.00",
  "installment": "67.20",
  "next_Installment_Date": "N/A",
  "product_Description": "SACC Product Import",
  "rate": "N/A",
  "pay_Day": 0,
  "company_Bank_Account": "36-955-5823",
  "companyName": "Fundco Pty Ltd [Direct Payments]",
  "pay_Frequency_Id": 0
}-->